<div
  *ngIf="categries$ | async as categries; else loader"
  class="frow order-row"
>
  <div *ngIf="categries.length !== 0; else empty">
    <div
      [routerLink]="['/order', category._id]"
      *ngFor="let category of categries"
      class="card waves-effect pointer"
    >
      <div class="center">
        <img [src]="category.imageSrc" class="responsive-img order-img" />
      </div>
      <div class="card-content center p10">
        <h5 class="m0">{{ category.name }}</h5>
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
<ng-template class="center" #empty> ...Ничего нет </ng-template>
