<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
      for="tab-1"
      class="tab"
      >Логин</label
    >
    <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
      for="tab-2"
      class="tab"
      >Регистрация</label
    >
    <div class="login-form">
      <form [formGroup]="loginFormGroup" class="sign-in-htm">
        <div class="group">
          <label for="email" class="label">Username/Email</label>
          <input formControlName="email" type="email" class="input" />
          <div
            *ngIf="
              loginFormGroup.get('email')?.invalid &&
              loginFormGroup.get('email')?.touched
            "
            class="validation"
          >
            <small>enter correctly email</small>
          </div>
        </div>

        <div class="group">
          <label for="password" class="label">Password</label>
          <input formControlName="password" type="password" class="input" />
          <div
            *ngIf="
              loginFormGroup.get('password')?.invalid &&
              loginFormGroup.get('password')?.touched
            "
            class="validation"
          >
            <small>enter correctly password, more than 4 characters</small>
          </div>
        </div>
        <div class="group">
          <input id="check" type="checkbox" class="check" checked />
          <label for="check"
            ><span class="icon"></span> Keep me Signed in</label
          >
        </div>
        <div class="group">
          <button
            [disabled]="loginFormGroup.invalid || loginFormGroup.disabled"
            (click)="login()"
            type="submit"
            class="button"
          >
            Sign In
          </button>
        </div>
        <div class="hr"></div>
      </form>
      <form [formGroup]="registerFormGroup" class="sign-up-htm">
        <div class="group">
          <label for="user" class="label">Username/Email</label>
          <input formControlName="email" id="user" type="text" class="input" />
          <div
            *ngIf="
              registerFormGroup.get('email')?.invalid &&
              registerFormGroup.get('email')?.touched
            "
            class="validation"
          >
            <small>enter correctly email</small>
          </div>
        </div>
        <div class="group">
          <label for="password" class="label">Password</label>
          <input formControlName="password" type="password" class="input" />
          <div
            *ngIf="
              registerFormGroup.get('password')?.invalid &&
              registerFormGroup.get('password')?.touched
            "
            class="validation"
          >
            <small>enter correctly password, more than 4 characters</small>
          </div>
        </div>
        <!-- <div class="group">
          <label for="pass" class="label">Repeat Password</label>
          <input id="pass" type="password" class="input" data-type="password" />
        </div> -->

        <div class="group">
          <button
            [disabled]="registerFormGroup.invalid || registerFormGroup.disabled"
            (click)="register()"
            type="submit"
            class="button"
          >
            Sign Up
          </button>
        </div>
        <div class="hr"></div>
      </form>
    </div>
  </div>
</div>
